/*
	Mega StyleSheet For Immortal Header & Slider

	Item Name: Immortal Header & Slider
	Item URL:
	Description: Different Types of Headers for Web Pages, Bootstrap Sliders, Bootstrap Mega Menu, Bootstrap Modal Forms
	Author: SZThemes
	Author URI: http://codecanyon.net/user/sz_themes
	Version: 1.0



								Content List
  -----------------------------------------------------------------------------------

	NAME -----------------------------------------LINE NUMBER--------------------- #

	VIDEO SLIDER HEADER VERSION ------------------60------------------------------ 01

	VIDEO SLIDER HEADER VERSION RESPONSIVE -------1255---------------------------- 02

	VIDEO SLIDER HEADER VERSION COLORS -----------1754---------------------------- 03


	[ Note: Line Numbers Are According To Notepad++ ]


  ------------------------------------------------------------------


							Fonts Styles
  ------------------------------------------------------------------

	  'Raleway', sans-serif ---------------------------------- 01
	     'Lato', sans-serif ---------------------------------- 02
	            FontAwesome ---------------------------------- 03

  ------------------------------------------------------------------


							Color Codes
  ------------------------------------------------------------------

	NAME    ------------------------RGB-------------------------- #

	#ffffff -------------------rgb(255, 255, 255)---------------- 01
	#000000 -------------------rgb(0, 0, 0)---------------------- 02
	#1abc9c -------------------rgb(26, 188, 156)----------------- 03 Replace Only This Color To Change Whole Color Scheme
	#ececec -------------------rgb(236, 236, 236)---------------- 04
	#999999 -------------------rgb(153, 153, 153)---------------- 05
	#474747 -------------------rgb(71, 71, 71)------------------- 06
	#dddddd -------------------rgb(221, 221, 221)---------------- 07
	#282828 -------------------rgb(40, 40, 40)------------------- 08

*/


/*==========================================================================================================================================

														VIDEO SLIDER HEADER VERSION

==========================================================================================================================================*/


/*=======================================================
	---00---
	COMMON CSS
========================================================*/

#immortal_header {

	-webkit-text-size-adjust: 100% !important;
	 -moz-osx-font-smoothing: grayscale !important;
	  -webkit-font-smoothing: antialiased !important;
	    -ms-font-size-adjust: inherit !important;
	        font-size-adjust: inherit !important;

}

/*=======================================================
	---01---
	VIDEO SLIDER NAVIGATION BAR
========================================================*/

.video_slider_navbar {

	z-index: 3;
	margin: 0px;
	border: none;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

.video_slider_navbar.affix {

    top: 0px;
    width: 100%;
    z-index: 10;
	position: fixed;

	-webkit-transition: background ease-in-out 0.5s, border ease-in-out 0.5s, top ease-in-out 0.5s, box-shadow ease-in-out 0.5s; /* Chrome, Safari, Opera */
            transition: background ease-in-out 0.5s, border ease-in-out 0.5s, top ease-in-out 0.5s, box-shadow ease-in-out 0.5s; /* Standard syntax */

}

.video_slider_fa_angle_down {

	margin-left: 7px;

}

/*========== LOGO ==========*/

#video_slider_header_logo {

	width: 200px;
	margin-top: 15px;

	-webkit-transition: margin-top ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: margin-top ease-in-out 0.3s; /* Standard syntax */

}

.video_slider_navbar.affix div div a #video_slider_header_logo {

	margin-top: 10px;

}

/*========== TOGGLE BUTTON ==========*/

.video_slider_navbar_toggle {

	border: none;

}

.video_slider_navbar_toggle .icon-bar {

	-webkit-transition: all ease-in-out 0.3s; /* Chrome, Safari, Opera */
			transition: all ease-in-out 0.3s; /* Standard syntax */

}

.video_slider_navbar_toggle .video_slider_top_icon_bar {

	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
			transform: rotate(45deg); /* Standard syntax */

	-webkit-transform-origin: 10% 10%; /* Chrome, Safari, Opera */
			transform-origin: 10% 10%; /* Standard syntax */

}

.video_slider_navbar_toggle .video_slider_middle_icon_bar {

	opacity: 0;

}

.video_slider_navbar_toggle .video_slider_bottom_icon_bar {

	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
			transform: rotate(-45deg); /* Standard syntax */

	-webkit-transform-origin: 10% 90%; /* Chrome, Safari, Opera */
			transform-origin: 10% 90%; /* Standard syntax */

}

.video_slider_navbar_toggle.collapsed .video_slider_top_icon_bar {

	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			transform: rotate(0deg); /* Standard syntax */

}

.video_slider_navbar_toggle.collapsed .video_slider_middle_icon_bar {

	opacity: 1;

}

.video_slider_navbar_toggle.collapsed .video_slider_bottom_icon_bar {

	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			transform: rotate(0deg); /* Standard syntax */

}

/*========== NAV TABS ==========*/

.video_slider_navbar_nav>li>a,
.video_slider_navbar_nav>li>a:visited {

	overflow: hidden;
	padding-top: 30px;
	position: relative;
	padding-bottom: 30px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;

	-webkit-transition: all ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: all ease-in-out 0.3s; /* Standard syntax */

	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
			transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

}

.video_slider_navbar.affix div .video_slider_navbar_nav>li>a {

	padding-top: 25px;
	padding-bottom: 25px;

}

.video_slider_navbar_nav>li>a:before {

	top: 0;
	left: 50%;
	right: 50%;
	height: 4px;
	content: "";
	z-index: -1;
	position: absolute;

	-webkit-transition: left ease-in-out 0.3s, right ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: left ease-in-out 0.3s, right ease-in-out 0.3s; /* Standard syntax */

}

.video_slider_navbar_nav>li>a:hover:before,
.video_slider_navbar_nav>li>a:focus:before,
.video_slider_navbar_nav>li>a:active:before {

	left: 0;
	right: 0;

}

.video_slider_navbar_nav>li>a:hover,
.video_slider_navbar_nav>li>a:active,
.video_slider_navbar_nav>li>a:focus {

	border: none;
	outline: none;

}

/*========== DROPDOWN ==========*/

.video_slider_dropdown_menu {

	border: none;
	padding: 0px;
	font-family: 'Lato', sans-serif;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

.video_slider_dropdown_menu li a,
.video_slider_dropdown_menu li a:visited {

	padding: 15px 15px 15px 15px;

	-webkit-transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s; /* Chrome, Safari, Opera */
			transition: background 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s; /* Standard syntax */

}

.video_slider_dropdown_menu li a i {

	margin-right: 5px;

}

/*========== MULTI LEVEL DROPDOWN ==========*/

.video_slider_dropdown_right i,
.video_slider_dropdown_left i  {

	margin-left: 15px;

}

.video_slider_dropdown_menu_right {

	top: -1px;
	left: 100%;
	position: absolute;

}

.video_slider_dropdown_menu_left {

	top: -1px;
	left: -92%;
	position: absolute;

}

/*========== SHORT CODE DROPDOWN ==========*/

.video_slider_dropdown_menu_shortcodes {

	left: -450px;
	width: 1000px;
	font-family: 'Lato', sans-serif;

}

.video_slider_shortcodes_list {

	padding: 0px;

}

.video_slider_shortcodes_list ul {

	padding: 0px;
	list-style-type: none;
	margin: 25px 0px 25px 0px;

}

.video_slider_shortcodes_list ul li a,
.video_slider_shortcodes_list ul li a:visited {

	display: block;
	text-decoration: none;
	padding: 5px 0px 5px 20px;

}

.video_slider_shortcodes_list ul li a i {

	margin-right: 10px;

}

/*========== FEATURES DROPDOWN ==========*/

.video_slider_dropdown_menu_features {

	left: -600px;
	width: 1000px;
	font-family: 'Lato', sans-serif;

}

.video_slider_features_list {

	padding: 0px;

}

.video_slider_features_list ul {

	padding: 0px;
	list-style-type: none;
	margin: 25px 0px 25px 0px;

}

.video_slider_features_list ul li a,
.video_slider_features_list ul li a:visited {

	display: block;
	text-decoration: none;
	padding: 5px 0px 5px 25px;

}

.video_slider_features_list_heading {

	padding: 5px 0px 5px 25px;

}

/*========== MEGA DROPDOWN ==========*/

.video_slider_dropdown_menu_mega {

	left: -850px;
	width: 1170px;
	padding: 5px 5px 5px 5px;
	font-family: 'Lato', sans-serif;

}

.video_slider_mega_list {

	margin: 0px;

}

.video_slider_mega_list ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

.video_slider_mega_list ul li {

	margin: 25px 0px 25px 0px;

}

.video_slider_mega_list_heading {

	font-weight: normal;
	text-transform: uppercase;

}

.video_slider_mega_list ul li a,
.video_slider_mega_list ul li a:visited {

	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-transform: capitalize;

}

.video_slider_mega_list ul li a i {

	margin-right: 10px;

}

.video_slider_mega_image {

	margin: 0px;

}

.video_slider_mega_image ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

.video_slider_mega_image ul li {

	margin: 25px 0px 25px 0px;

}

.video_slider_mega_image_heading {

	font-weight: normal;
	text-transform: uppercase;

}

.video_slider_mega_image img {

	width: 100%;

	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
			border-radius: 5px; /* Standard syntax */

}

.video_slider_mega_image ul li h5 {

	margin-top: 25px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: capitalize;

}

.video_slider_mega_image p {

	text-align: justify;

}

.video_slider_mega_posts {

	margin: 0px;

}

.video_slider_mega_posts ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;

}

.video_slider_mega_posts_heading {

	font-weight: normal;
	text-transform: uppercase;
	margin: 25px 0px 25px 0px;

}

.video_slider_mega_posts_col_img {

	margin: 0%;
	padding: 0%;

}

.video_slider_mega_posts_col_img img {

	width: 100%;
	opacity: 0.7;

	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
			border-radius: 5px; /* Standard syntax */

	-webkit-transition: opacity ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: opacity ease-in-out 0.3s; /* Standard syntax */

}

.video_slider_mega_posts_row {

	margin: 10px 0px 0px 0px;

}

.video_slider_mega_posts_col_text h5 {

	padding: 0px;
	margin: 0px 0px 5px 0px;
	text-transform: capitalize;

}

.video_slider_mega_posts_col_text h5 a,
.video_slider_mega_posts_col_text h5 a:visited {

	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-decoration: none;

}

.video_slider_mega_posts_row:hover .video_slider_mega_posts_col_img img {

	opacity: 1;

}

/*========== SHOP DROPDOWN ==========*/

.video_slider_dropdown_menu_shop {

	left: -940px;
	width: 1170px;
	padding: 15px 25px 15px 25px;
	font-family: 'Lato', sans-serif;

}

.video_slider_dropdown_menu_shop_row {

	margin-top: 10px;

}

.video_slider_dropdown_menu_shop_col img {

	width: 100%;
	opacity: 0.7;

	-webkit-border-radius: 5px; /* Chrome, Safari, Opera */
			border-radius: 5px; /* Standard syntax */

	-webkit-transition: opacity ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: opacity ease-in-out 0.3s; /* Standard syntax */

}

.video_slider_dropdown_menu_shop_col h5 {

	padding: 0px;
	margin: 20px 0px 5px 0px;
	text-transform: uppercase;

}

.video_slider_dropdown_menu_shop_col h5 a,
.video_slider_dropdown_menu_shop_col h5 a:visited {

	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-decoration: none;

}

.video_slider_dropdown_menu_shop_col p {

	text-align: justify;

}

.video_slider_dropdown_menu_shop_col:hover img {

	opacity: 1;

}

/*=======================================================
	---02---
	VIDEO SLIDER
========================================================*/

.video_slider_wrapper {

	top: -80px;
	overflow: hidden;
	max-height: 650px;
	position: relative;
	margin-bottom: -80px;

}

.video_slider_wrapper > .carousel-inner > .item > img,
.video_slider_wrapper > .carousel-inner > .item > a > img {

	opacity: 1;
	margin: auto;
	width: 100% !important;

}

/*========== LEFT/RIGHT CONTROL ==========*/



.video_slider_control_left,
.video_slider_control_right {

	top: 50%;
	z-index: 2;
	width: 55px;
	height: 55px;
	border: none;
	opacity: 0.2;
	text-align: center;

	-webkit-transition: all ease-in-out 0.3s; /* Chrome, Safari, Opera */
            transition: all ease-in-out 0.3s; /* Standard syntax */

}

.video_slider_control_icons {

	line-height: 50px;
	font-size: 34px !important;
	font-weight: normal !important;

}

.video_slider_control_left {

	left: 0%;
	border-left: none !important;

	-webkit-border-radius: 0px 100% 100% 0px; /* Chrome, Safari, Opera */
			border-radius: 0px 100% 100% 0px; /* Standard syntax */

}

.video_slider_control_right {

	right: 0%;
	border-right: none !important;

	-webkit-border-radius: 100% 0px 0px 100%; /* Chrome, Safari, Opera */
			border-radius: 100% 0px 0px 100%; /* Standard syntax */

}

.video_slider_control_left:hover,
.video_slider_control_left:active,
.video_slider_control_left:focus,
.video_slider_control_right:hover,
.video_slider_control_right:active,
.video_slider_control_right:focus {

	opacity: 1;

}

/*========== FADE EFFECT ==========*/

.video_slider_fade {

	opacity: 1;

}

.video_slider_fade .item {

	top: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0 !important;
	display: block !important;

	-webkit-transition: opacity ease-in-out 0.7s; /* Chrome, Safari, Opera */
       -moz-transition: opacity ease-in-out 0.7s; /* Mozilla */
        -ms-transition: opacity ease-in-out 0.7s; /* IE 9 */
         -o-transition: opacity ease-in-out 0.7s; /* Opera */
            transition: opacity ease-in-out 0.7s; /* Standard syntax */

}

.video_slider_fade .item:first-child {

	top: auto;
	position: relative;

}

.video_slider_fade .item.active {

	opacity: 1;
	z-index: 2;

	-webkit-transition: opacity ease-in-out 0.7s; /* Chrome, Safari, Opera */
       -moz-transition: opacity ease-in-out 0.7s; /* Mozilla */
        -ms-transition: opacity ease-in-out 0.7s; /* IE 9 */
         -o-transition: opacity ease-in-out 0.7s; /* Opera */
            transition: opacity ease-in-out 0.7s; /* Standard syntax */

}

/*========== CAPTION ==========*/

/*========== VIDEO ==========*/

.video_slider_caption {

	top: 0%;
	left: 0%;
	right: 0%;
	width:100%;
	padding: 0%;

}

.video_slider_video {

	width: 100%;

}

/*========== TEXT ==========*/

.video_slider_caption_text {

	top: 35%;
	left: 10%;
	z-index: 2;
	text-align: left;
	text-shadow: none;
	position: absolute;
	font-family: 'Raleway', sans-serif;

}

.video_slider_caption_text h1 {

	padding: 0%;
	width: 550px;
	font-size: 55px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 10px 5px 10px;

	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
            animation-delay: 1s; /* Standard syntax */

}

.video_slider_caption_text p {

	padding: 0%;
	width: 650px;
	font-size: 25px;
	padding: 5px 10px 5px 10px;

	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
            animation-delay: 1s; /* Standard syntax */

}

.video_slider_colored_button,
.video_slider_colored_button:visited {

	outline: 0;
	margin: 0%;
	width: auto;
	height: 44px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-shadow: none;
	line-height: 44px;
	padding: 5px 35px;
	position: relative;
	font-style: normal;
	white-space: nowrap;
	letter-spacing: 1px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none !important;
	font-family: 'Raleway', sans-serif;

	-webkit-border-radius: 0px;
	        border-radius: 0px;

	-webkit-box-sizing:initial !important;
	   -moz-box-sizing:initial !important;
			box-sizing:initial !important;

 	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

	-webkit-transition: color 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.3s ease-in-out 0s; /* Standard syntax */

	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
            animation-delay: 1s; /* Standard syntax */

}

.video_slider_colored_button:before {

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	position: absolute;

	-webkit-border-radius: 0px;
	        border-radius: 0px;

	-webkit-transform: scaleY(0); /* Chrome, Safari, Opera */
			transform: scaleY(0); /* Standard syntax */

	-webkit-transform-origin: 50%; /* Chrome, Safari, Opera */
			transform-origin: 50%; /* Standard syntax */

	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition:         transform 0.3s ease-in-out 0s; /* Standard syntax */

}

.video_slider_colored_button:hover,
.video_slider_colored_button:active,
.video_slider_colored_button:focus {

	box-shadow: none;
	outline: none !important;

}

.video_slider_colored_button:hover:before,
.video_slider_colored_button:focus:before,
.video_slider_colored_button:active:before {

	-webkit-transform: scaleY(1); /* Chrome, Safari, Opera */
			transform: scaleY(1); /* Chrome, Safari, Opera */

}


/*=======================================================
	---03---
	VIDEO SLIDER MODAL
========================================================*/

.video_slider_modal_dialog {

	top: 20px;

}

.video_slider_modal_content {

	left:12%;
	width: 75%;
	border: none;
	overflow: hidden;
	box-shadow: none;
	position: relative;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

/*========== HEADER OF MODAL ==========*/

.video_slider_modal_header {

	border: none;
	text-align: left;
	padding: 20px 10px;

}

.video_slider_modal_header img {

	width: 250px;

}

.video_slider_modal_header>button {

	opacity: 1;
	z-index: 1;
	left: 10px;
	border: none;
	bottom: 10px;
	outline: none;
	font-size: 35px;
	text-shadow: none;
	position: relative;
	font-weight: normal;
	padding: 0px 9px 0px 9px;

	-webkit-transition: color 0.5s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.5s ease-in-out 0s; /* Standard syntax */

}

.video_slider_modal_header >button:hover,
.video_slider_modal_header>button:active,
.video_slider_modal_header>button:focus {

	opacity: 1;
	border: none;
	box-shadow: none;
	outline: none !important;

}

/*========== BODY OF MODAL ==========*/

.video_slider_modal_body {

	margin: 0px;
	font-family: 'Raleway', sans-serif;

}

#video_slider_modal_user_image {

	text-align: center;

}

#video_slider_modal_user_image img {

	width: 90px;

	-webkit-border-radius: 100%; /* Chrome, Safari, Opera */
	        border-radius: 100%; /* Standard syntax */

}

#video_slider_modal_user_image h3 {

	font-weight: bold;

}

.video_slider_modal_body_form>div {

	margin-top: 10px;
	margin-bottom: 25px;

}

.video_slider_modal_body_form div input {

	height: 42px;
	box-shadow: none;
	padding: 0px 0px 0px 20px;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

	-webkit-transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Standard syntax */

}

.video_slider_modal_body_form div textarea {

	box-shadow: none;
	height: initial !important;
	padding: 20px 0px 20px 20px;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

	-webkit-transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: background 0.5s ease-in-out 0s, border 0.5s ease-in-out 0s; /* Standard syntax */

}

.video_slider_checkbox input {

	height: initial !important;

}

.video_slider_modal_body_form  div input:focus,
.video_slider_modal_body_form  div textarea:focus {

	outline: none;
	box-shadow: none;

}

.video_slider_modal_body_form  button {

	border: none;
	display: block;
	font-size: 16px;
	overflow: hidden;
	box-shadow: none;
	position: relative;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	padding: 10px 35px 10px 35px;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

 	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

	-webkit-transition: color 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.3s ease-in-out 0s; /* Standard syntax */

}

.video_slider_modal_body_form  button:before {

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	position: absolute;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

	-webkit-transform: scaleY(0); /* Chrome, Safari, Opera */
			transform: scaley(0); /* Standard syntax */

	-webkit-transform-origin: 50%; /* Chrome, Safari, Opera */
			transform-origin: 50%; /* Standard syntax */

	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition:         transform 0.3s ease-in-out 0s; /* Standard syntax */

}

.video_slider_modal_body_form  button:hover,
.video_slider_modal_body_form  button:focus,
.video_slider_modal_body_form  button:active {

	border: none;
	box-shadow: none;
	outline: none !important;

}

.video_slider_modal_body_form  button:hover:before,
.video_slider_modal_body_form  button:focus:before,
.video_slider_modal_body_form  button:active:before {

	-webkit-transform: scaleY(1); /* Chrome, Safari, Opera */
			transform: scaleY(1); /* Chrome, Safari, Opera */

}

/*========== FOOTER OF MODAL ==========*/

.video_slider_modal_footer {

	border: none;
	text-align: left;
	padding: 3px 0px 10px 20px;

}

#video_slider_contact_us_modal_social_icons ul {

    padding: 0;
	list-style-type: none;
	margin: 10px 10px 10px 0px;

}

#video_slider_contact_us_modal_social_icons ul li {

	float: left;
	margin-right: 1px;

}

#video_slider_contact_us_modal_social_icons ul li a {

	width: 30px;
	padding: 5px;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

 	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
            transform: translateZ(0); /* Standard syntax */

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		  backface-visibility: hidden; /* Standard syntax */

	-webkit-transition: color 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition: color 0.3s ease-in-out 0s; /* Standard syntax */

}

#video_slider_contact_us_modal_social_icons ul li a:before {

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	position: absolute;

	-webkit-border-radius: 100%; /* Chrome, Safari, Opera */
	        border-radius: 100%; /* Standard syntax */

	-webkit-transform: scale(2); /* Chrome, Safari, Opera */
			transform: scale(2); /* Standard syntax */

	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s; /* Chrome, Safari, Opera */
            transition:         transform 0.3s ease-in-out 0s; /* Standard syntax */

}

#video_slider_contact_us_modal_social_icons ul li a:hover:before,
#video_slider_contact_us_modal_social_icons ul li a:focus:before,
#video_slider_contact_us_modal_social_icons ul li a:active:before {

	-webkit-transform: scale(0); /* Chrome, Safari, Opera */
			transform: scale(0); /* Chrome, Safari, Opera */

}

/*========== SEARCH BAR ==========*/

.video_slider_modal_body_search {

	padding: 0px;

}

.video_slider_search_bar>div {

	width: 85%;
	float: left;
	margin: 0px;
	padding-top: 15px;
}

.video_slider_search_bar>div>input {

	font-size: 22px;
	box-shadow: none;
	font-weight: bold;
	border: none !important;

}

.video_slider_search_bar>div>input:focus {

	border: none;
	box-shadow: none;

}

.video_slider_search_bar>button {

	width: 15%;
	margin: 0px;
	padding: 25px;
	text-align: center;

	-webkit-border-radius: 0%; /* Chrome, Safari, Opera */
	        border-radius: 0%; /* Standard syntax */

}

.video_slider_search_bar>button>span {

	vertical-align: middle;

}


/*==========================================================================================================================================

													VIDEO SLIDER HEADER VERSION RESPONSIVE

==========================================================================================================================================*/


/*==================================================  MEDIA MAX-991px  ==================================================*/


@media (max-width: 991px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/

    .video_slider_navbar.affix {

        position: static;

    }

	#video_slider_header_logo {

		margin-top: 0px;

	}

	.video_slider_navbar.affix div div a #video_slider_header_logo {

		margin-top: 0px;

	}

	.video_slider_navbar.affix div .video_slider_navbar_nav>li>a {

		padding-top: 30px;
		padding-bottom: 30px;

	}

	/*=======================================================
						VIDEO SLIDER
	========================================================*/

	.video_slider_wrapper {

		top: 0px;
		margin-bottom: 0px;

	}

}


/*==================================================  MEDIA 767px  ==================================================*/


@media only screen and (max-width: 767px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/

	.video_slider_navbar_header {

		padding: 10px 0px 10px 0px;

	}

	.video_slider_navbar_nav {

		float: initial !important;

	}

	.video_slider_fa_angle_down {

		float: right;
		font-size: 22px;

	}

	/*========== DROPDOWN ==========*/

	.video_slider_dropdown ul {

		text-align: center;

	}

	.video_slider_dropdown_right i,
	.video_slider_dropdown_left i {

		display: none;

	}

	.video_slider_dropdown_menu_right,
	.video_slider_dropdown_menu_left {

		display: none;

	}

	.video_slider_navbar_nav,
	.video_slider_dropdown_menu {

		text-align: left;

	}

	.video_slider_shortcodes_list_border,
	.video_slider_features_list_border {

		border-right: none;

	}

	.video_slider_mega_image,
	.video_slider_mega_posts {

		text-align: center;

	}

	.video_slider_mega_image img,
	.video_slider_mega_posts_col_img img,
	.video_slider_dropdown_menu_shop_col img {

		width: 50%;

	}

	.video_slider_mega_posts_col_text h5 {

		margin: 10px 0px 10px 0px;

	}

	.video_slider_dropdown_menu_shop_col {

		text-align: center;

	}

	.video_slider_dropdown_menu_shop_col p {

		text-align: center;

	}

	.video_slider_dropdown_menu_share {

		float: initial !important;

	}

	/*=======================================================
							MODAL
	========================================================*/

	.video_slider_modal_content {

		width: 100%;
		position: static;

	}

}


/*==================================================  MEDIA 768px - 5000px  ==================================================*/


@media only screen and (min-width: 768px) and (max-width: 5000px) {

	/*=======================================================
				NAVIGATION BAR TRANSLATE EFFECT
	========================================================*/

	.video_slider_dropdown_menu {

		opacity: 0 !important;
		display: block !important;
		visibility: hidden !important;

		-webkit-transform: translate(0px,25px) !important; /* Chrome, Safari */
				transform: translate(0px,25px) !important; /* Standard syntax */

	-webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s; /* Chrome, Safari */
		transition:         transform 0.2s ease-in-out, visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s; /* Standard syntax */

	}

	.video_slider_dropdown:hover>.video_slider_dropdown_menu {

		opacity: 1 !important;
		visibility: visible !important;

		-webkit-transform: translate(0px,0px) !important; /* Chrome, Safari */
				transform: translate(0px,0px) !important; /* Standard syntax */

	}

}


/*==================================================  MEDIA 480px  ==================================================*/


@media only screen and (max-width: 480px) {

	/*========== SEARCH BAR ==========*/

	.video_slider_search_bar>div {

		width: 75%;

	}

	.video_slider_search_bar>button {

		width: 25%;

	}

	/*=======================================================
						VIDEO SLIDER
	========================================================*/

	/*========== LEFT/RIGHT CONTROL ==========*/



	.video_slider_control_left,
	.video_slider_control_right {

		border: none;

	}

	.video_slider_control_icons {

		font-size: 18px !important;

	}

	/*========== CAPTION ==========*/

	/*========== TEXT ==========*/

	.video_slider_caption_text {

		left: 0%;
		right: 0%;
		top: -15px;
		text-align: center;

	}

	.video_slider_caption_text h1 {

		width: 100%;
		font-size: 25px;
		margin-bottom: 2px;
		padding: 5px 5px 5px 5px;

	}

	.video_slider_caption_text p {

		width: 100%;
		font-size: 15px;
		margin-bottom: 2px;
		padding: 5px 5px 5px 5px;

	}

	.video_slider_colored_button,
	.video_slider_colored_button:visited {

		margin: 0 0;
		height: 34px;
		padding: 0 13px;
		line-height: 34px;

	}

}


/*==================================================  MEDIA 481px - 600px  ==================================================*/


@media (min-width: 481px) and (max-width: 600px) {

	/*========== SEARCH BAR ==========*/

	.video_slider_search_bar>div {

		width: 75%;

	}

	.video_slider_search_bar>button {

		width: 25%;

	}

	/*=======================================================
						VIDEO SLIDER
	========================================================*/

	/*========== LEFT/RIGHT CONTROL ==========*/



	.video_slider_control_left,
	.video_slider_control_right {

		border: none;

	}

	/*========== CAPTION ==========*/

	.video_slider_caption_text {

		top: 0%;
		left: 0%;
		right: 0%;
		text-align: center;

	}

	.video_slider_caption_text h1 {

		width: 100%;
		font-size: 35px;
		padding: 5px 5px 5px 5px;

	}

	.video_slider_caption_text p {

		width: 100%;
		font-size: 20px;
		padding: 5px 5px 5px 5px;

	}


}


/*==================================================  MEDIA 601px - 767px  ==================================================*/


@media (min-width: 601px) and (max-width: 767px) {

	/*=======================================================
						VIDEO SLIDER
	========================================================*/

	/*========== CAPTION ==========*/

	.video_slider_caption_text {

		top: 0%;
		left: 0%;
		right: 0%;
		text-align: center;

	}

	.video_slider_caption_text h1 {

		width: 100%;

	}

	.video_slider_caption_text p {

		width: 100%;

	}

}


/*==================================================  MEDIA 768px - 991px  ==================================================*/


@media (min-width: 768px) and (max-width: 991px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/

	/*========== DROPDOWN ==========*/

	.video_slider_dropdown_menu_left {

		left: 100%;

	}

	.video_slider_dropdown_menu_shortcodes {

		width: 725px;
		left: -225px;

	}

	.video_slider_dropdown_menu_features {

		width: 725px;
		left: -370px;

	}

	.video_slider_dropdown_menu_mega {

		left: -485px;
		width: 725px;

	}

	.video_slider_dropdown_menu_shop {

		left: -586px;
		width: 750px;

	}

	/*=======================================================
						VIDEO SLIDER
	========================================================*/

	.video_slider_caption_text {

		top: 30%;

	}

}


/*==================================================  MEDIA 992px - 1250px  ==================================================*/


@media (min-width: 992px) and (max-width: 1250px) {

	/*=======================================================
						NAVIGATION BAR
	========================================================*/

	.video_slider_navbar_responsive {

		padding-left: 0px;
		padding-right: 0px;

	}

	/*========== DROPDOWN ==========*/

	.video_slider_dropdown_menu_shortcodes {

		left: -420px;
		width: 950px;

	}

	.video_slider_dropdown_menu_features {

		left: -565px;
		width: 950px;

	}

	.video_slider_dropdown_menu_mega {

		left: -709px;
		width: 990px;

	}

	.video_slider_dropdown_menu_shop {

		left: -775px;
		width: 950px;

	}

}


/*==========================================================================================================================================

											VIDEO SLIDER HEADER VERSION COLORS (GREEN)

==========================================================================================================================================*/


/*=======================================================
	---00---
	NAVIGATION BAR
========================================================*/

/*=============== NAVBAR ===============*/

.video_slider_navbar  {

	background: rgba(40, 40, 40, 0.7);

}

.video_slider_navbar.affix  {

	background: rgba(40, 40, 40, 0.9);
	box-shadow: 0px 0px 10px #282828;

}

/*=============== MEDIA QUERIES ===============*/

@media (max-width: 991px) {

	.video_slider_navbar {

		background: rgba(28, 28, 28, 1);

	}

	.video_slider_navbar.affix {

		background: rgba(28, 28, 28, 1);

	}

}

.video_slider_navbar_nav>li>a,
.video_slider_navbar_nav>li>a:visited {

	color: #ffffff !important;

}

.video_slider_navbar_toggle .video_slider_top_icon_bar,
.video_slider_navbar_toggle .video_slider_bottom_icon_bar {

	background: #1abc9c !important;

}

.video_slider_navbar_nav>li>a:hover,
.video_slider_navbar_nav>li>a:active,
.video_slider_navbar_nav>li>a:focus {

	color: #1abc9c !important;

}

.video_slider_navbar_nav>li>a:before {


	background: #1abc9c;

}

.video_slider_navbar_toggle.collapsed .video_slider_top_icon_bar,
.video_slider_navbar_toggle.collapsed .video_slider_middle_icon_bar,
.video_slider_navbar_toggle.collapsed .video_slider_bottom_icon_bar {

	background: #1abc9c !important;

}

.video_slider_navbar_nav>li>a,
.video_slider_navbar_nav>li>a:visited,
.video_slider_navbar_nav>li>a:hover,
.video_slider_navbar_nav>li>a:active,
.video_slider_navbar_nav>li>a:focus,
.video_slider_navbar_toggle,
.video_slider_navbar_toggle:hover,
.video_slider_navbar_toggle:active,
.video_slider_navbar_toggle:focus {

	background: transparent !important;

}


/*=============== DROPDOWN ===============*/

.video_slider_dropdown_menu  {

	background: #282828;

}

.video_slider_dropdown_menu li a,
.video_slider_dropdown_menu li a:visited {

	color: #ececec !important;

}

.video_slider_dropdown_menu li a:hover,
.video_slider_dropdown_menu li a:active,
.video_slider_dropdown_menu li a:focus {

	color: #ffffff !important;

}

.video_slider_dropdown_menu li a:hover,
.video_slider_dropdown_menu li a:active,
.video_slider_dropdown_menu li a:focus {

	background: #1abc9c !important;

}

.video_slider_dropdown_menu {

	box-shadow: 0px 0px 5px #282828;

}

.video_slider_dropdown_menu {

	border-top: 2px solid #1abc9c;

}

/*=============== SHORTCODES, FEATURES, MEGA, SHOP ===============*/

.video_slider_dropdown_menu_mega,
.video_slider_dropdown_menu_shop {

	background: #282828;

}

.video_slider_features_list>ul>li>h4,
.video_slider_dropdown_menu_mega>li>ul>li>h4,
.video_slider_dropdown_menu_mega>li>ul>li>h5,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:visited,
.video_slider_dropdown_menu_shop_col>h5>a,
.video_slider_dropdown_menu_shop_col>h5>a:visited {

	color: #999999 !important;

}

.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:hover,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:active,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:focus,
.video_slider_dropdown_menu_shop_col>h5>a:hover,
.video_slider_dropdown_menu_shop_col>h5>a:active,
.video_slider_dropdown_menu_shop_col>h5>a:focus {

	color: #1abc9c !important;

}

.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:hover,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:active,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>h5>a:focus,
.video_slider_dropdown_menu_shop_col>h5>a:hover,
.video_slider_dropdown_menu_shop_col>h5>a:active,
.video_slider_dropdown_menu_shop_col>h5>a:focus {

	background: transparent !important;

}

.video_slider_shortcodes_list ul li a,
.video_slider_shortcodes_list ul li a:visited,
.video_slider_features_list ul li a,
.video_slider_features_list ul li a:visited,
.video_slider_dropdown_menu_mega>li>ul>li>a,
.video_slider_dropdown_menu_mega>li>ul>li>a:visited,
.video_slider_dropdown_menu_mega>li>ul>li>p,
.video_slider_dropdown_menu_mega>li>ul>li>div>div>p,
.video_slider_dropdown_menu_shop_col>p {

	color: #ececec !important;

}

.video_slider_shortcodes_list ul li a:hover,
.video_slider_shortcodes_list ul li a:active,
.video_slider_shortcodes_list ul li a:focus,
.video_slider_features_list ul li a:hover,
.video_slider_features_list ul li a:active,
.video_slider_features_list ul li a:focus,
.video_slider_dropdown_menu_mega>li>ul>li>a:hover,
.video_slider_dropdown_menu_mega>li>ul>li>a:active,
.video_slider_dropdown_menu_mega>li>ul>li>a:focus {

	color: #1abc9c !important;

}

.video_slider_shortcodes_list ul li a:hover,
.video_slider_shortcodes_list ul li a:active,
.video_slider_shortcodes_list ul li a:focus,
.video_slider_features_list ul li a:hover,
.video_slider_features_list ul li a:active,
.video_slider_features_list ul li a:focus,
.video_slider_dropdown_menu_mega>li>ul>li>a:hover,
.video_slider_dropdown_menu_mega>li>ul>li>a:active,
.video_slider_dropdown_menu_mega>li>ul>li>a:focus {

	background: transparent !important;

}

.video_slider_shortcodes_list_border {

	border-right: 1px solid #474747;

}

.video_slider_features_list_border {

	border-right: 1px solid #474747;

}

.video_slider_dropdown_menu_mega>li>ul>li:first-child {

	border-bottom: 1px solid #474747;

}


/*=======================================================
	---01---
	VIDEO SLIDER
========================================================*/

/*========== LEFT/RIGHT CONTROL ==========*/



.video_slider_control_left,
.video_slider_control_left:hover,
.video_slider_control_left:active,
.video_slider_control_left:focus,
.video_slider_control_right,
.video_slider_control_right:hover,
.video_slider_control_right:active,
.video_slider_control_right:focus  {

	color: #ffffff;

}

.video_slider_control_left,
.video_slider_control_left:hover,
.video_slider_control_left:active,
.video_slider_control_left:focus,
.video_slider_control_right,
.video_slider_control_right:hover,
.video_slider_control_right:active,
.video_slider_control_right:focus {

	background: transparent !important;

}

.video_slider_control_left,
.video_slider_control_right {

	border: 2px solid #ffffff;

}

/*=============== CAPTION ===============*/

.video_slider_caption_text h1,
.video_slider_caption_text p {

	background: rgba(255, 255, 255, 0.9);

}

.video_slider_caption_text h1,
.video_slider_caption_text p {

	color: #282828;

}

.video_slider_colored_button,
.video_slider_colored_button:visited {

	color: #ffffff;

}

.video_slider_colored_button:hover,
.video_slider_colored_button:active,
.video_slider_colored_button:focus {

	color: #ffffff !important;

}

.video_slider_colored_button,
.video_slider_colored_button:visited {

	background: #282828;

}

.video_slider_colored_button:hover,
.video_slider_colored_button:active,
.video_slider_colored_button:focus {

	background: #282828 !important;

}

.video_slider_colored_button:before {

	background: #1abc9c;

}

/*=============== MEDIA QUERIES ===============*/

@media only screen and (max-width: 600px) {

	/*========== LEFT/RIGHT CONTROL ==========*/



	.video_slider_control_left,
	.video_slider_control_right,
	.video_slider_control_left:hover,
	.video_slider_control_left:active,
	.video_slider_control_left:focus,
	.video_slider_control_right:hover,
	.video_slider_control_right:active,
	.video_slider_control_right:focus	{

		background: transparent !important;

	}

}


/*=======================================================
	---02---
	VIDEO SLIDER MODAL
========================================================*/

.video_slider_modal_fade {

	background: rgba(255, 255, 255, 0.4);

}

.video_slider_modal_header>button,
.video_slider_modal_body_form  button,
#video_slider_contact_us_modal_social_icons ul li a,
#video_slider_contact_us_modal_social_icons ul li a:hover,
#video_slider_contact_us_modal_social_icons ul li a:active,
#video_slider_contact_us_modal_social_icons ul li a:focus {

	color: #ffffff;

}

.video_slider_modal_header {

	background: #000000;

}

.video_slider_modal_header >button:hover,
.video_slider_modal_header>button:active,
.video_slider_modal_header>button:focus {

	color: #1abc9c;

}

.video_slider_modal_body_form  button:hover,
.video_slider_modal_body_form  button:active,
.video_slider_modal_body_form  button:focus {

	color: #ffffff !important;

}

.video_slider_modal_body,
.video_slider_modal_body_form  div input,
.video_slider_modal_body_form  div textarea {

	background: #ffffff;

}

.video_slider_modal_body_form  div input,
.video_slider_modal_body_form  div textarea {

	color: #000000;

}

.video_slider_modal_body_form  button:before,
#video_slider_contact_us_modal_social_icons ul li a {


	background: #1abc9c;

}

.video_slider_modal_body_form  div input,
.video_slider_modal_body_form  div textarea {

	border: 1px solid #dddddd;

}

.video_slider_modal_body_form  div input:focus,
.video_slider_modal_body_form  div textarea:focus {

	border: 1px solid #1abc9c;

}

.video_slider_modal_body_form  button,
#video_slider_contact_us_modal_social_icons ul li a:before {

	background: #282828;

}

.video_slider_modal_body_form  button:hover,
.video_slider_modal_body_form  button:active,
.video_slider_modal_body_form  button:focus {

	background: #282828 !important;

}

#video_slider_modal_user_image img {

	background: transparent !important;

}

.video_slider_modal_footer a {

	color: #282828;

}
